<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
 <link rel="stylesheet" type="text/css" href="static/css/csslogin.css">
</head>
<body>
<div id="bg"></div>

<form action="/loginuser" >
  <div class="form-field">
    <input type="email" placeholder="Email / Username" name="email">
  </div>

  <div class="form-field">
    <input type="password" placeholder="Password" name="pword">                         </div>

  <div class="form-field">
    <button class="btn" name="login_button" type="submit" formmethod="post">Log in</button>
  </div>



    <div class="signup-link">
            <a href="#">Forgot Password?</a><br>
                  Not a member? <a href="http://localhost:5000/register">Signup now</a>
               </div>

</form>

</body>
</html>

